= form_for(@router) do |f|
  - if @router.errors.any?
    #error_explanation
      %h2
        = pluralize(@router.errors.count, "error")
        prohibited this router from being saved:
      %ul
        - @router.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :site_id
    %br/
    = f.number_field :site_id
  .field
    = f.label :x
    %br/
    = f.text_field :x
  .field
    = f.label :y
    %br/
    = f.text_field :y
  .field
    = f.label :z
    %br/
    = f.text_field :z
  .field
    = f.label :ssid
    %br/
    = f.text_field :ssid
  .field
    = f.label :uid
    %br/
    = f.text_field :uid
  .field
    = f.label :power
    %br/
    = f.text_field :power
  .field
    = f.label :frequency
    %br/
    = f.text_field :frequency
  .actions
    = f.submit
