<%= form_for(@router) do |f| %>
  <% if @router.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@router.errors.count, "error") %> prohibited this router from being saved:</h2>

      <ul>
      <% @router.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :x %><br>
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :z %><br>
    <%= f.text_field :z %>
  </div>
  <div class="field">
    <%= f.label :ssid %><br>
    <%= f.text_field :ssid %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
